{%extends "base.html"%}

{%block content%}


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<section id="section-try">
    <br>
    <br>
    <div  class="wrapper01 my-bg temp">
        <h1>Image Caption Generator</h1>
    <br>
    <center style="margin-top:25px;">
        <form action="{{url_for('after')}}" method='POST' enctype='multipart/form-data'>
            <div class="file-selector">
                <input type="file" name='file1'> 
                <input type="submit" name="btn" value='Generate caption' class='btn btn-warning'> 
            </div>
        </form>
    </center>    
</div>
</section>
{%endblock%}